@import "common.css";

.main__parallax {
    background: transparent;
    min-height: 100vh;
}

.header {
    font-size: 20px;
    padding: 30px 0;
    color: var(--darkGray);
    z-index: 1;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: OpenSansMedium, sans-serif;
    font-size: 20px;
}

.nav__item a {
    background-image: linear-gradient(
            to bottom,
            transparent 0%,
            transparent 90%,
            #2C2C2C 90%,
            #2C2C2C 100%
    );
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;
    transition: background-size .3s;
    padding-bottom: 4px;
}

.nav__item:hover a {
    background-size: 100% 100%;
    background-position-x: left;
}





.main {
    margin: 120px 0;
    padding: 50px 0;
}

.main__title {
    font-family: LoraBold, sans-serif;
    color: var(--darkGray);
    font-size: var(--fontSizeMainTitle);
    max-width: 600px;
    margin-bottom: 40px;
}

.main__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.main__info_item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.main__logo-skantreid_inner, .main__logo-studio_inner {
    width: 200px;
    flex-shrink: 0;
}

.main__logo-skantreid_inner svg {
    width: 150px;
}

.main__logo-studio_inner svg {
    width: 200px;
}

.main__logo-studio_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main__info_item-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--darkGray);
}

.main__info_item-text span {
    /*color: white;*/
}

.main__image {
    position: relative;
    max-width: 100%;
}

.main__image::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 120px;
    background-image: url('../img/main/spine.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 228px;
    left: 20px;
    z-index: -1;

    /*animation: stitchNeedle 0.3s ease infinite;*/
}

.main__image img {
    max-width: 500px;
}

.main__image:hover:before {
    animation: stitchNeedle 0.2s ease infinite;
}

@keyframes stitchNeedle {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(20%);
    }
    35% {
        transform: translateY(20%);
    }
    40% {
        transform: translateY(20%);
    }
    45% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

.about-us {
    -webkit-box-shadow: 0 0 10px 11px #2C2C2C1C;
    -moz-box-shadow: 0 0 10px 11px #2C2C2C1C;
    box-shadow: 0 0 10px 11px #2C2C2C1C;
}

.about-us__parallax {
    min-height: 600px;
    background: rgba(110, 103, 103, 0.47);
}




.products {
    padding: 120px 0;
    margin-bottom: 120px;
}

.products__title {
    text-align: center;
    font-family: LoraBold, sans-serif;
    font-size: var(--fontSizeSecondTitle);
    margin-bottom: 80px;
}

.products__inner {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.products__card {
    width: 205px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    perspective: 60rem;
}

.products__card-inner {
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    /*transition: rotate .6s, scale 1s;*/

}

.products__card:hover .products__card-inner {
    /*rotate: y 10deg;*/
    /*scale: 1.05;*/
}

