@import "common.css";
@import "animations.css";
@import "section-main.css";
@import "methods.css";
@import "portfolio.css";

.about-us {
    padding: 140px 0;
    font-family: OpenSansRegular, sans-serif;
    overflow: hidden;
}

.about-us__title {
    margin-bottom: 80px;
}

.about-us__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-us__text {
    max-width: 500px;
    font-size: 22px;
}

.about-us__image {
    background-image: url("../img/about-us-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    min-width: 430px;
    height: 340px;
    overflow: hidden;
    border-radius: 30px;
    transition: .3s;
}

.about-us__image:hover {
    box-shadow: 2px 2px 10px 0 var(--darkGray);
}

.advantages {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__inner {
    display: flex;
}

.advantage {
    width: 200px;
    padding: 15px;
}

.advantage:hover .advantage__number {
    background-color: rgba(44, 44, 44, 0.11);
}

.advantage:hover .advantage__number_span {
    color: rgba(44, 44, 44, 0.65);
}

.advantage__title {
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 18px;
    height: 90px;
}

.advantage__text {
    font-family: OpenSansRegular, sans-serif;
    font-size: 15px;
}

.advantage__number {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(44, 44, 44, 0.03);
    overflow: hidden;
    margin-bottom: 15px;
    transition: .3s;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}

.advantage__number_span {
    color: #858585;
    position: absolute;
    top: 0;
    right: 0;
    font-family: LoraBold, sans-serif;
    font-size: 80px;
    transition: .3s;
}

.products {
    padding: 140px 0;
}

.products__title {
    margin-bottom: 80px;
}

.products__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.products__card {
    width: 270px;
    height: 270px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.products__card-inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__text {
    font-family: OpenSansMedium, sans-serif;
    font-size: 20px;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.products__items-text {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    position: absolute;
    top: 50px;
    opacity: 0;
    transition: .4s;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.products__items-text a {
    transition: .3s;
}

.products__card img {
    width: 100%;
    transition: .3s;
    z-index: -2;
    position: absolute;
}

.products__img_clothes1 {
    transform: scale(0.53);
    top: -60px;
    right: -50px;
}

.products__img_clothes2 {
    top: -90px;
    left: -50px;
    transform: scale(0.45);
}

.products__img_outwear {
    transform: scale(.53);
    bottom: -110px;
    left: 0;
}

.products__img_hats {
    transform: scale(0.9);
    right: -15px;
}

.products__img_accessories1 {
    top: 50px;
    left: 20px;
    z-index: 1;
    transform: scale(0.8);
}

.products__img_accessories2 {
    top: 15px;
    left: -60px;
    transform: scale(0.8);
}


.products__items-text a:hover {
    color: rgb(143, 143, 142);
}

.products__card:hover .products__items-text {
    opacity: 1;
}

.products__card:hover {
    border: 1px solid #afafaf;
}

.footer {
    padding: 70px 0;
}

.footer svg {
    width: 20px;
}

.footer__nav_list {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    gap: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer__col {
    display: flex;
}

.footer__order-call {
    align-items: start;
    gap: 10px;
}

.footer__mail {
    flex-direction: column;
    gap: 15px;
}

.footer__email {
    display: flex;
    gap: 10px;
}

.footer__socials {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__office {
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.footer__office_text {
    display: flex;
    gap: 10px;
}

.footer__office p {
    max-width: 240px;
}

.footer__office_map iframe {
    border-radius: 10px;
}

@media screen and (max-width: 1439px) {
    .portfolio__slide {
        width: 400px;
        padding: 10px 50px;
    }

    .header-nav-list {
        font-size: 18px;
    }

    .main__text {
        max-width: 550px;
        font-size: 16px;
    }

    .studio-image {
        max-width: 450px;
    }

    .studio-image::after {
        width: 50px;
        height: 110px;
        top: 249px;
        left: 25px;
    }

    .main__scantreid_image {
        max-width: 800px;
    }
}

@media screen and (max-width: 1023px) {
    .portfolio {
        padding: 80px 0;
    }

    .portfolio__slide {
        padding: 10px 30px;
    }

    .portfolio__title {
        margin-bottom: 40px;
    }

    .footer__nav-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-container {
        display: grid;
        grid-template-areas:
        'nav mail'
        'nav phone'
        'map map';
        row-gap: 30px;
    }

    .footer__nav {
        grid-area: nav;
    }

    .footer__mail {
        grid-area: mail;
    }

    .footer__order-call {
        grid-area: phone;
    }

    .footer__office {
        grid-area: map;
    }

    .methods {
        padding: 80px 0;
    }

    .methods__slide {
        width: 360px;
    }

    .products {
        padding: 80px 0;
    }

    .header-nav-list {
        gap: 15px;
    }

    .nav__link, .phone-link {
        font-size: 16px;
    }

    .studio-image {
        max-width: 385px;
        top: 20px;
    }

    .studio-image::after {
        width: 45px;
        height: 100px;
        top: 209px;
        left: 21px;
    }

    .main__scantreid_image {
        top: -200px;
        left: 200px;
    }

    .slide_btn {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .about-us {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .about-us__text {
        font-size: 16px;
    }

    .advantages {
        margin-top: 30px;
    }

    .advantages .draggable {
        padding: 0 40px;
    }

    .advantage {
        margin: 0 20px;
    }

    .advantages .slick-list.draggable {
        max-width: 500px;
    }

    .advantages .slick-prev:before, .advantages .slick-next:before {
        color: var(--darkGray);
        font-size: 35px;
    }

    .advantages .slick-prev {
        left: 0;
    }

    .advantages .slick-next {
        right: 0;
    }

    .advantages .slick-prev, .advantages .slick-next, .advantages .slick-arrow {
        width: 40px;
        height: 40px;
    }

    .advantage__number {
        width: 80px;
        height: 80px;
    }

    .advantage__number_span {
        right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .footer-container {
        display: grid;
        grid-template-areas:
        'mail'
        'phone'
        'map'
        'nav';
        row-gap: 15px;
    }

    .footer iframe {
        max-width: 290px;
    }

    .footer__mail {
        display: grid;
        grid-template-areas: 'text' 'mail';
    }

    .footer__email {
        grid-area: mail;
    }

    .footer__socials {
        grid-area: text;
    }

    .products__title {
        margin-bottom: 30px;
    }

    .methods-title {
        margin-bottom: 0;
    }

    .advantages .slick-list.draggable {
        max-width: 220px;
    }

    .header {
        height: 26px;
    }

    .header-nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        max-width: 200px;
        height: 100vh;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(245, 245, 245, 0.95) 100%);
        backdrop-filter: blur(6px);
        flex-direction: column;
        box-shadow: 5px 3px 12px var(--mainColor);
        border-left: 1px solid #eee;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 0 20px 10px;
        transition: right 0.3s ease;
        z-index: 90;
    }

    .header-nav-item a {
        color: var(--darkGray);
    }

    .header-nav-list.active {
        right: 0;
    }

    .header .nav__item:last-child {
        margin-top: 30px;
    }

    .header .nav-link {
        padding: 12px 0;
        font-size: 18px;
        border-bottom: 1px solid #eee;
    }

    .header .phones-item {
        margin-left: 0;
        margin-top: 20px;
    }

    .header .phones-wrapper {
        gap: 10px;
    }

    .header .phone-link {
        font-size: 16px;
    }

    .light-line::after {
        background-color: var(--darkGray);
    }

    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu-toggle.active .toggle-line:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .mobile-menu-toggle.active .toggle-line:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-toggle.active .toggle-line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .mobile-menu-toggle.active {
        top: 10px;
        right: 10px;
        z-index: 200;
    }

    .company-skantreid .main__inner {
        margin-top: 0;
    }

    .main__company {
        padding-top: 150px;
    }

    .logo__inner {
        width: 200px;
        margin: 0 auto;
    }

    :root {
        --fontSizeTitle: 32px;
    }

    .main__title {
        margin-top: 0;
        text-align: center;
    }

    .main__scantreid_image {
        max-width: 600px;
        top: unset;
        left: 100px;
        bottom: -220px;
    }

    .slide_btn__next {
        left: unset;
        right: 0;
    }

    .main__company:last-child {
        display: block;
    }

    .main__inner {
        padding-top: 20px;
    }

    .studio-logo {
        padding-left: 0;
    }

    .slide_btn__previous {
        left: 0;
        right: unset;
    }

    .studio-image {
        max-width: 250px;
        margin: 10px auto 20px auto;
        top: unset;
    }

    .studio-image::after {
        width: 35px;
        height: 100px;
        top: 112px;
        left: 9px;
    }

    .main__action {
        width: 185px;
        font-size: 14px;
    }

    .about-us__title {
        margin-bottom: 30px;
    }

    .about-us__inner {
        flex-direction: column;
        text-align: center;
    }

    .about-us__image {
        min-width: unset;
        width: 100%;
    }
}

@media screen and (max-width: 458px) {
    .main__company {
        padding-top: 200px;
    }
}

@media screen and (max-width: 424px) {
    .portfolio__slide {
        width: 300px;
        padding: 10px 50px;
    }

    .header .phone-link {
        font-size: 14px;
    }

    .methods__slide {
        width: 290px;
    }

    .advantage__title {
        height: unset;
        margin-bottom: 10px;
    }

    .nav__link, .phone-link {
        font-size: 14px;
    }

    :root {
        --fontSizeTitle: 26px;
    }

    .main__inner {
        padding-top: 0;
        gap: 20px;
    }

    .logo__inner {
        width: 160px;
        margin: unset;
        height: unset;
    }

    .slide_btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
        top: 35px;
    }

    .studio-logo .logo__inner {
        margin-left: auto;
        margin-right: 10px;
    }

    .main__scantreid_image {
        left: 35px;
    }
}


