@import "common.css";

.main {
    position: relative;
}

.main__parallax {
    background: transparent;
    height: 100vh;
    padding: 0 15vw;
}

.main__container {
    position: sticky;
    top: 0;
    margin-bottom: 5vw;
}

.header {
    font-size: 20px;
    padding: 30px 0;
    color: var(--darkGray);
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: OpenSansMedium, sans-serif;
    font-size: 20px;
}

.nav__item a {
    background-image: linear-gradient(
            to bottom,
            transparent 0%,
            transparent 90%,
            #2C2C2C 90%,
            #2C2C2C 100%
    );
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;
    transition: background-size .3s;
    padding-bottom: 4px;
}

.nav__item:hover a {
    background-size: 100% 100%;
    background-position-x: left;
}


.main__text {
    max-width: 700px;
}

.main__title {
    font-family: LoraBold, sans-serif;
    color: var(--darkGray);
    font-size: var(--fontSizeMainTitle);
    margin-top: 70px;
    margin-bottom: 40px;
}


.main__info {
    display: flex;
    justify-content: space-between;
}

.main__info_item {
    display: grid;
    place-items: center;
    gap: 30px;
    text-align: center;
}

.main__logo-studio_inner {
    display: flex;
    gap: 15px;
}

.main__logo-skantreid_inner svg {
    width: 150px;
}

.main__logo-studio_inner svg {
    width: 200px;
}

.main__info_item-text {
    font-family: OpenSansSemiBold, sans-serif;
}

.main__info_item-text span {
    font-family: OpenSansMedium, sans-serif;
}

.stan-link, .stan-link:visited {
    color: #1b4d9a;
}

.main__action {
    height: 10vh;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(44, 44, 44, 0.03);
    text-align: center;
    transition: .3s;
}

.main__action svg {
    position: relative;
    top: 10px;
    width: 50px;
    transform: scaleX(.9);
    fill: #dfdfdf;
}

.main__action:hover {
    background: rgba(44, 44, 44, 0.11);
}


.about-us {
    padding: 120px 0;
    font-family: OpenSansRegular, sans-serif;
}

.about-us__title {
    margin-bottom: 80px;
}

.about-us__inner {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.about-us__text {
    max-width: 500px;
    font-size: 22px;
}

.about-us__image {
    background-image: url("../img/about-us-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 340px;
    overflow: hidden;
    border-radius: 30px;
    transition: .3s;
}

.about-us__image:hover {
    box-shadow: 2px 2px 10px 0 var(--darkGray);
}


.advantages {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.advantage {
    width: 220px;
    padding: 15px;
}

.advantage:hover .advantage__number {
    background-color: rgba(44, 44, 44, 0.11);
}

.advantage:hover .advantage__number_span {
    color: rgba(44, 44, 44, 0.65);
}

.advantage__title {
    font-family: OpenSansSemiBold, sans-serif;
    font-size: 18px;
    height: 90px;
}

.advantage__text {
    font-family: OpenSansRegular, sans-serif;
    font-size: 15px;
}

.advantage__number {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(44, 44, 44, 0.03);
    overflow: hidden;
    margin-bottom: 15px;
    transition: .3s;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}

.advantage__number_span {
    color: #858585;
    position: absolute;
    top: 0;
    right: 0;
    font-family: LoraBold, sans-serif;
    font-size: 80px;
    transition: .3s;
}


.products {
    padding: 120px 0;
}

.products__title {
    margin-bottom: 80px;
}

.products__inner {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.products__card {
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    z-index: 5;
}

.products__card-inner {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__text {
    font-family: OpenSansMedium, sans-serif;
    font-size: 18px;
    align-self: center;
    margin-bottom: 10px;
}

.products__items-text {
    width: 100%;
    height: 75%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    position: absolute;
    top: 50px;
    opacity: 0;
    transition: .4s;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.products__items-text a:hover {
    transition: .3s;
}

.products__card img {
    width: 100%;
    transition: .3s;
}

.products__card:hover {
    border: 1px solid #afafaf;
}

.products__items-text a:hover {
    color: rgb(143, 143, 142);
}

.products__card:hover .products__items-text {
    opacity: 1;
}

.products__card:hover img {
    filter: drop-shadow(3px 4px 10px rgba(176, 176, 176, 0.9));
    transform: scale(1.01);
}


/*.machine {*/
/*    max-width: 500px;*/
/*    position: relative;*/
/*}*/

/*.machine:before {*/
/*    content: '';*/
/*    background-image: url("../img/spine.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*    width: 50px;*/
/*    height: 100px;*/
/*    position: absolute;*/
/*    top: 250px;*/
/*    left: 20px;*/
/*    z-index: -1;*/
/*    animation: stitchNeedle 0.3s infinite;*/
/*}*/

/*.machine img {*/
/*    width: 100%;*/
/*}*/

/*@keyframes stitchNeedle {*/
/*    0% {*/
/*        transform: translateY(-5%);*/
/*    }*/
/*    30% {*/
/*        transform: translateY(12%); !* Опускание *!*/
/*    }*/
/*    35% {*/
/*        transform: translateY(12%); !* Вибрация внизу *!*/
/*    }*/
/*    40% {*/
/*        transform: translateY(12%);*/
/*    }*/
/*    45% {*/
/*        transform: translateY(12%);*/
/*    }*/
/*    100% {*/
/*        transform: translateY(0); !* Возврат вверх *!*/
/*    }*/
/*}*/